In [ ]:
!pip install numpy
!pip install pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv(laptop_price.csv, encoding = 'latin-1')
data.head()

In [ ]:
data = pd.read_csv(C:\Users\Hasitha\Desktop\Laptop-Price-Predictor\model\laptop_price.csv, encoding = 'latin-1')
data.head()

In [ ]:
data = pd.read_csv(laptop_price.csv, encoding = 'latin-1')
data.head()

In [ ]:
data = pd.read_csv('laptop_price.csv', encoding='latin-1')
data.head()

In [ ]:
data.shape

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
data.head(2)

In [ ]:
data['Ram'] = data['Ram'].str.replace('GB','').astype('int32')
data['Weight'] = data['Weight'].str.replace('kg','').astype('float32')

In [ ]:
def add_company(inpt):
    if inpt == 'Samsung' or inpt == 'Mediacom' or inpt == 'Razer' or inpt == 'Microsoft' or inpt == 'Vero' or inpt == 'Xiaomi' or inpt == 'Chuwi' or inpt == 'Fujitsu' or inpt == 'Google' or inpt == 'LG' or inpt == 'Huawei':
        return 'Other'
    else:
        return inpt

data['Company'] = data['Company'].apply(add_company)

In [ ]:
data['Company'].value_counts()

In [ ]:
data = pd.read_csv('laptop_price.csv', encoding = 'latin-1')

In [ ]:
data.head(2)

In [ ]:
def add_company(inpt):
    if inpt == 'Samsung' or inpt == 'Mediacom' or inpt == 'Razer' or inpt == 'Microsoft' or inpt == 'Vero' or inpt == 'Xiaomi' or inpt == 'Chuwi' or inpt == 'Fujitsu' or inpt == 'Google' or inpt == 'LG' or inpt == 'Huawei':
        return 'Other'
    else:
        return inpt

data['Company'] = data['Company'].apply(add_company)

In [ ]:
data['Company'].value_counts()

In [ ]:
data.head(2)

In [ ]:
data['Ram'] = data['Ram'].str.replace('GB','').astype('int32')
data['Weight'] = data['Weight'].str.replace('kg','').astype('float32')

In [ ]:
data.head(2)

In [ ]:
len(data['Product'].value_counts())

In [ ]:
data['TypeName'].value_counts()

In [ ]:
len(data['ScreenResolution'].value_counts())

In [ ]:
data['Touchscreen'] = data['ScreenResolution'].apply(lambda x:1 if 'Touchscreen' in x else 0)
data['Ips'] = data['ScreenResolution'].apply(lambda x:1 if 'IPS' in x else 0)

In [ ]:
data.head(2)

In [ ]:
len(data['Cpu'].value_counts())

In [ ]:
data['cpu_name'] = data['Cpu'].apply(lambda x:" ".join(x.split()[0:3]))

In [ ]:
data['cpu_name'].value_counts()

In [ ]:
def set_processor(name):
    if name == 'Intel Core i7' or name == 'Intel Core i5' or name == 'Intel Core i3':
        return name
    else:
        if name.split()[0] == 'AMD':
            return 'AMD'
        else:
            return 'Other'

data['cpu_name'] =  data['cpu_name'].apply(set_processor)

In [ ]:
data['cpu_name'].value_counts()

In [ ]:
data['Gpu'].value_counts()

In [ ]:
data['gpu_name'] = data['Gpu'].apply(lambda x:" ".join(x.split()[0:1]))

In [ ]:
data['gpu_name'].value_counts()

In [ ]:
data.shape

In [ ]:
data = data[data['gpu_name'] != 'ARM']

In [ ]:
data.shape

In [ ]:
data['OpSys'].value_counts()

In [ ]:
def set_os(inpt):
    if inpt == 'Windows 10' or inpt == 'Windows 7' or inpt == 'Windows 10 S':
        return 'Windows'
    elif inpt == 'macOS' or inpt == 'Mac OS X':
        return 'Mac'
    elif inpt == 'Linux':
        return inpt
    else:
        return 'Other'

data['OpSys'] = data['OpSys'].apply(set_os)

In [ ]:
data['OpSys'].value_counts()

In [125]:
data.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Touchscreen,Ips,cpu_name,gpu_name,OpSystem
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,Mac,1.37,1339.69,0,1,Intel Core i5,Intel,Mac
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,Mac,1.34,898.94,0,0,Intel Core i5,Intel,Mac

In [126]:
data = data.drop(columns=['laptop_ID','Product','Inches','ScreenResolution','Cpu','Gpu','OpSystem'])

In [127]:
data.head()

,Company,TypeName,Ram,OpSys,Weight,Price_euros,Touchscreen,Ips,cpu_name,gpu_name
0,Apple,Ultrabook,8,Mac,1.37,1339.69,0,1,Intel Core i5,Intel
1,Apple,Ultrabook,8,Mac,1.34,898.94,0,0,Intel Core i5,Intel
2,HP,Notebook,8,Other,1.86,575.00,0,0,Intel Core i5,Intel
3,Apple,Ultrabook,16,Mac,1.83,2537.45,0,1,Intel Core i7,AMD
4,Apple,Ultrabook,8,Mac,1.37,1803.60,0,1,Intel Core i5,Intel

In [ ]:
data = pd.get